---
import Card from "@components/Card/composable-card/Card.astro";
import CardDescription from "@components/Card/composable-card/CardDescription.astro";
import CardImage from "@components/Card/composable-card/CardImage.astro";
import CardTitle from "@components/Card/composable-card/CardTitle.astro";
import HybridCard from "@components/Card/hybrid-card/HybridCard.astro";
import SimpleCard from "@components/Card/simple-card/SimpleCard.astro";

const getDataFromAPI = async () => {
  return [
    {
      title: "Card 1",
      description:
        "hello a very long text with out spaces between or any other special characters to test the overflow of the text",
      image: "/favicon.ico",
      link: "/playground",
      className: "bg-red-100",
    },
    {
      title: "Center",
      description:
        "hello a very long text with out spaces between or any other special characters to test the overflow of the text",
      image: "/favicon.ico",
      link: "/playground",
      className: "bg-green-100",
    },
    {
      title: "End",
      description:
        "hello a very long text with out spaces between or any other special characters to test the overflow of the text",
      image: "/favicon.ico",
      link: "/playground",
      className: "bg-blue-100",
    },
    {
      title: "4",
      description: "hello 4",
      image: "/favicon.ico",
      link: "/playground",
    },
  ];
};

const data = await getDataFromAPI();
---

<div class="flex min-h-screen items-center justify-center h-full">
  <div class="text-center">
    <h1 class="text-4xl font-bold">Playground</h1>

    <p class="text-lg mt-4">
      This is a playground page to test Astro components.
    </p>

    <div class="mt-8 grid grid-cols-3 gap-4">
      {
        data.map((item) => (
          <SimpleCard
            title={item.title}
            description={item.description}
            image={item.image}
            link={item.link}
            className={item.className}
          />
        ))
      }
    </div>
  </div>
</div>
