---
const { title, description, image, link, className } = Astro.props;
---

<div
  class={`border rounded-lg p-4 text-center max-w-md w-full h-full ${className}`}
>
  <a href={link}>
    <h3 class="text-xl font-bold">
      {title}
    </h3>

    <img src={image} alt={title} class="mt-4 w-24 mx-auto object-contain" />

    <div class="h-1 bg-gray-200 w-full my-4"></div>

    <p class="mt-4">
      {description}
    </p>
  </a>
</div>
